<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="c-app">
<script src="https://d3js.org/d3.v4.js"></script>

<header class="c-header c-header-light c-header-fixed c-header-with-subheader">

  <div class="input-group" style="padding-top: 10px">
    <div class="card-body">
      <form class="form-horizontal" action="" method="post" onSubmit="return false;">
        <div class="form-group row">
          <div class="col-md-12">
            <div class="input-group">
              <a class="fa fa-search" onclick="document.location='index.html'" style="font-size: 34px; margin-right: 10px"></a>
              <a class="fa fa-connectdevelop" onclick="document.location='graph.html'" style="font-size: 34px; margin-right: 10px"></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</header>

<div class="loader" id="loader"></div>
<div style="margin-top: 100px" id="my_graph"></div>

<!-- CoreUI and necessary plugins-->
<script src="/static/node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
<!--[if IE]><!-->
<script src="/static/node_modules/@coreui/icons/js/svgxuse.min.js"></script>
<!--<![endif]-->
<!-- Plugins and scripts required by this view-->
<script src="/static/node_modules/@coreui/chartjs/dist/js/coreui-chartjs.bundle.js"></script>
<script src="/static/node_modules/@coreui/utils/dist/coreui-utils.js"></script>
<script src="/static/js/graph.js"></script>
</body>
</html>
