<!doctype html>
<html class="no-js" lang="">

<head>
  <base href="./">
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/node_modules/@coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="c-app flex-row align-items-center" style="background-color: #3c4b64">

  <!-- Add your site or application content here -->
  <script src="/static/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Search company</h1>
              <p>Check if company is trusted</p>
              <div class="input-group mb-3">
                <div class="card-body">
                  <form class="form-horizontal" action="" method="post" onSubmit="return false;">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <input class="form-control" style="color: black" id="search_input" type="text" name="input2-group2" placeholder="Type..." autocomplete="email"><span class="input-group-append">
                                <button id="search_btn" onclick="onSearch()" class="btn btn-info" type="button">Search</button></span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- CoreUI and necessary plugins-->
  <script src="/static/node_modules/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
  <!--[if IE]><!-->
  <script src="/static/node_modules/@coreui/icons/js/svgxuse.min.js"></script>
  <!--<![endif]-->
  <script src="/static/js/main.js"></script>
  <script>

    let input = document.getElementById("search_input");
    input.addEventListener("keyup", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("search_btn").click();
      }
    });

  </script>
</body>

</html>
